@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

@layer components {
  .container {
    @apply max-w-4xl mx-auto p-4;
  }
}


:root {
  --highlight-green: #7bfb92;
  --purple: #c15df3;
  --custom-white: #f3f3f3;
  --soft-black: rgba(0, 0, 0, 0.05);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --very-transparent-white: rgba(255, 255, 255, 0.13);
  --dark-gray: #444444;
  --custom-gray: #4c4c4c;
  --light-gray: #c2c0c0;

  --background-dark: #2c2c2c;
  --card-background: #3d3d3d;
  --header-background: #000000;
  --text-title: var(--highlight-green);
  --text-body: #c2c0c0;
  --text-price: rgba(123, 251, 146, 0.779);
  --button-decrement: rgb(61 61 61);
  --button-decrement-hover: rgb(44 44 44);
  --button-increment: rgb(61 61 61);
  --button-increment-hover: rgb(44 44 44);
  --button-delete: rgba(239, 68, 68, 0.5);
  --button-delete-hover: rgba(220, 38, 38, 0.5);
  --button-delete-border: rgba(239, 68, 68, 0.3);
  --text-button: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--background-dark);
  color: var(--text-body);
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--custom-gray);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--card-background);
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}